<ul class="nav justify-content-center">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">Usuário</a>
    <div class="dropdown-menu">
      <a class="btn dropdown-item" routerLink="/admin/adduser">Criar Usuário</a>
      <a class="btn dropdown-item" routerLink="/admin/users">Ver Usuários</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">Bem Patrimonial</a>
    <div class="dropdown-menu">
      <a class="btn dropdown-item" routerLink="/admin/addbp">Criar Bem Patrimonial</a>
      <a class="btn dropdown-item" routerLink="/admin/bps">Ver Bens</a>
      <a *ngIf="getAdmin()" class="btn dropdown-item" routerLink="/admin/invent">Emitir Inventário</a>
      <a class="btn dropdown-item" routerLink="/admin/relat">Relatorios de Bem Patrimonial por Sala</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
       aria-expanded="false">Movimentações</a>
    <div class="dropdown-menu">
      <a class="btn dropdown-item" routerLink="/admin/entradas">Entradas</a>
      <a class="btn dropdown-item" routerLink="/admin/saidas">Saídas</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">Ordem de Serviço</a>
    <div class="dropdown-menu">
      <a class="btn dropdown-item" routerLink="/admin/regords">Registrar Ordem de Serviço</a>
      <a class="btn dropdown-item" routerLink="/admin/regords">Concluir Ordem de Serviço</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">Localização</a>
    <div class="dropdown-menu">
      <a class="btn dropdown-item" routerLink="/admin/addlocal">Criar Localização</a>
      <a class="btn dropdown-item" routerLink="/admin/locais">Ver Localizações</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">Prédio</a>
    <div class="dropdown-menu">
      <a class="btn dropdown-item" routerLink="/admin/addpredio">Criar Prédio</a>
      <a class="btn dropdown-item" routerLink="/admin/predios">Ver Prédios</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">Departamento</a>
    <div class="dropdown-menu">
      <a class="btn dropdown-item" routerLink="/admin/adddepto">Criar Departamento</a>
      <a class="btn dropdown-item" routerLink="/admin/deptos">Ver Departamentos</a>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
      aria-expanded="false">Sala</a>
    <div class="dropdown-menu">
      <a class="btn dropdown-item" routerLink="/admin/addsala">Criar Sala</a>
      <a class="btn dropdown-item" routerLink="/admin/salas">Ver Salas</a>
    </div>
  </li>
  <li class="nav-item">
    <button class="nav-link active btn btn-danger" (click)="logout()">Log Out</button>
  </li>
</ul>
<br>
