<app-admin></app-admin>
<div>
    <h2>Registro de Ordem de Serviço</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="hidden">Id</th>
          <th>Num. Tombamento</th>
          <th>Data de Abertura</th>
          <th>Valor do Serviço</th>
          <th>Prestadora</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ordem of ordens" >
            <td class="hidden" >{{ordem.id}}</td>
            <td>{{ordem.bem.numTombamento}}</td>
            <td>{{ordem.dataAbertura}}</td>
            <td>{{ordem.valor}}</td>
            <td>{{ordem.prestadoraDeServico}}</td>
            <td><button class="btn btn-info" (click)="findOne(ordem)" data-toggle="modal"
                        data-target="#modalVer">
              Concluir
            </button></td>
        </tr>
      </tbody>
    </table>
</div>

<!-- Modal -->
<div  class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="modalVerTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVerTitle">Registrar Ordem de Serviço</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <h4>Bem Patrimonial</h4>
      <div class="modal-body">
        <div class="row">
          <p class="col-5"><b>ID:</b> {{findOneById.id}}</p>
          <p class="col-5"><b>Situação:</b> {{findOneById.situacao}}</p>
        </div>
        <div class="row">
          <p class="col-5" ><b>Denominação:</b> {{findOneById.denominacao}}</p>
          <p class="col-5"><b>Espeficicação:</b> {{findOneById.especificacao}}</p>
        </div>
        <div class="row">
          <p class="col-3"><b>Nº NF:</b> {{findOneById.numNotaFiscal}}</p>
          <p class="col-3"><b>Marca:</b> {{findOneById.marca}}</p>
          <p class="col-5"><b>Garantia:</b> {{findOneById.garantia}}</p>
        </div>
        <div class="row">
          <p class="col-4"><b>Valor da Compra:</b> {{findOneById.valorCompra}}</p>
          <p class="col-4"><b>Valor Atual:</b> {{findOneById.valorAtual}}</p>
          <p class="col-4"><b>Vida útil:</b> {{findOneById.vidaUtil}}</p>
        </div>
        <div class="row">
          <p class="col-6"><b>Data de Aquisição:</b> {{findOneById.dataAquis}}</p>
          <p class="col-6"><b>Nº de Tombamento:</b> {{findOneById.numTombamento}}</p>
        </div>
        <div class="row">
          <p class="col-6"><b>Grupo Material:</b> {{findOneById.grupoMaterial}}</p>
          <p class="col-6"><b>ID da Sala:</b> {{findOneById.idSala}}</p>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="campo">Data de Abertura:</label>
            <input required [(ngModel)]="ordemServico.dataAbertura" value="{{ordemServico.dataAbertura}}" class="form-control" type="date" id="dataAbertura" name="dataAbertura">
          </div>
          <div class="col-6">
            <label for="valorCompra">Valor do Serviço:</label>
            <input type="number" [(ngModel)]="ordemServico.valor" value="{{ordemServico.valor}}" name="valorCompra" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="campo">Prestadora de Serviço:</label>
            <input required [(ngModel)]="ordemServico.prestadoraDeServico" value="{{ordemServico.prestadoraDeServico}}"  class="form-control" id="prestadoraDeServico" name="prestadoraDeServico">
          </div>
          <div class="col-6">
            <label for="campo">Data de Fechamento:</label>
            <input required [(ngModel)]="ordemServico.dataFechamento" value="{{ordemServico.dataFechamento}}" class="form-control" type="date" id="dataAbertura" name="dataAbertura">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="concluir()" data-dismiss="modal">Concluir Ordem</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
      </div>
    </div>
  </div>
</div>


