<app-admin></app-admin>
<div>
    <h2> Salas</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Número da Sala</th>
                <th>Departamento</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let sala of salas">
                <td>{{sala.id}}</td>
                <td>{{sala.num}}</td>
                <td *ngIf="sala.departamento == null">Não consta</td>
                <td *ngIf="sala.departamento != null">{{sala.departamento.nome}}</td>
                <td style="width: 20%"><button class="btn btn-info" (click)="findOne(sala)" data-toggle="modal"
                        data-target="#modalVer">
                        Ver
                    </button>
                    <button type="button" class="btn btn-primary" (click)="findOne(sala)" data-toggle="modal"
                        data-target="#modalEditar">
                        Editar
                    </button>
                    <button class="btn btn-danger" (click)="deleteSala(sala)"> Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="modalVerTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVerTitle">Sala</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="findOneById != null" class="modal-body">
                <p><b>ID:</b> {{findOneById.id}}</p>
                <p><b>Número da sala:</b> {{findOneById.num}}</p>
                <p *ngIf="findOneById.departamento != null"><b>Departamento:</b> {{findOneById.departamento.nome}}</p>
                <p *ngIf="findOneById.departamento == null"><b>Departamento:</b> Não consta</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarTitle">Sala</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="findOneById != null">
                    <p><b>ID:</b> {{findOneById.id}}</p>
                    <p><b>Número da sala:</b> {{findOneById.num}}</p>
                    <p *ngIf="findOneById.departamento != null"><b>Departamento:</b> {{findOneById.departamento.nome}}</p>
                    <p *ngIf="findOneById.departamento == null"><b>Departamento:</b> Não consta</p>
                </div>
                <hr>
                <h3 align="center">Editar</h3>
                <div>
                    <form>

                        <div class="form-group">
                            <label for="num">Número da sala:</label>
                            <input required [(ngModel)]="salaUpdate.num" placeholder="Número da Sala" name="num" class="form-control"
                                id="num">
                        </div>

                        <div class="form-group" *ngIf="departamentos != null">
                            <label for="idDepartamento">Departamento:</label>
                            <select required id="idDepartamento" [(ngModel)]="id_departamento" class="form-control"
                                name="idDepartamento" id="idDepartamento">
                                <option *ngFor="let departamento of departamentos" [value]="departamento.id">{{departamento.nome}}
                                    - {{departamento.id}}</option>
                            </select>
                        </div>

                        <button class="btn btn-success" (click)="updateSala()">Editar</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>