<div class="container">
<div class="col-md-offset-4">
  <h1>
    Welcome to INVSCP!
  </h1>
</div>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" routerLink="/users">Lista de Usuários</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/add">Adicionar Usuário</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" routerLink="/locais">Lista de Locais</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/addlocal">Adicionar Local</a>
  </li>
</ul>

<router-outlet></router-outlet>
</div>

