<app-admin></app-admin>
<h2 class="text-center">Adicionar Sala</h2>
<form>

    <div class="form-group">
        <label for="num">Número/Nome da Sala:</label>
        <input required [(ngModel)]="sala.num" placeholder="Número da Sala" name="num" class="form-control" id="num">
    </div>

    <div class="form-group">
        <label for="idDepartamento">Departamento:</label>
        <select required id="idDepartamento" [(ngModel)]="sala.idDepartamento" class="form-control" name="idDepartamento" id="idDepartamento">
            <option *ngFor="let departamento of departamentos" [value]="departamento.id">{{departamento.nome}} - {{departamento.id}}</option>
        </select>
    </div>

    <button class="btn btn-success" (click)="createSala()">Criar</button>
</form>