<div>

  <div class="form-group">
    <label for="pesquisa">Pesquisar Bem Patrimonial</label>
    <br>
    <select [(ngModel)]="escolha" class="form-control" name="escolhaBusca" id="escolhaBusca">
      <option value="numTomb">Número de Tombamento</option>
      <option value="denomi">Denominação</option>
      <option value="marca">Marca</option>
    </select>
    <br>
    <input [(ngModel)]="itemPesquisa" type="pesquisa" class="form-control" id="pesquisa" aria-describedby="pesquisaBP" placeholder="Pesquisar Bem Patrimonial">
  </div>
  <button (click)="searchBPFilter()" type="submit" class="btn btn-primary">Pesquisar</button>

  <h2> Bens Patrimoniais</h2>
  <table class="table table-striped">

    <thead>
      <tr>
        <th class="hidden">Id</th>
        <th>Num. Tombamento</th>
        <th>Marca</th>
        <th>Denominação</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bem of bens">
        <td class="hidden">{{bem.id}}</td>
        <td>{{bem.numTombamento}}</td>
        <td>{{bem.marca}}</td>
        <td>{{bem.denominacao}}</td>
        <td><button class="btn btn-info" (click)="findOne(bem)" data-toggle="modal"
                    data-target="#modalVer">
          Ver
        </button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="modalVerTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalVerTitle">Bem Patrimonial</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div *ngIf="findOneById != null" class="modal-body">
        <p><b>ID:</b> {{findOneById.id}}</p>
        <p><b>Situação:</b> {{findOneById.situacao}}</p>
        <p><b>Denominação:</b> {{findOneById.denominacao}}</p>
        <p><b>Espeficicação:</b> {{findOneById.especificacao}}</p>
        <p><b>Nº NF:</b> {{findOneById.numNotaFiscal}}</p>
        <p><b>Marca:</b> {{findOneById.marca}}</p>
        <p><b>Garantia:</b> {{findOneById.garantia}}</p>
        <p><b>Valor da Compra:</b> {{findOneById.valorCompra}}</p>
        <p><b>Valor Atual:</b> {{findOneById.valorAtual}}</p>
        <p><b>Vida útil:</b> {{findOneById.vidaUtil}}</p>
        <p><b>Data de Aquisição:</b> {{findOneById.dataAquis}}</p>
        <p><b>Nº de Tombamento:</b> {{findOneById.numTombamento}}</p>
        <p><b>Grupo Material:</b> {{findOneById.grupoMaterial}}</p>
        <p><b>ID da Sala:</b> {{findOneById.idSala}}</p>
        <p><b>Data da Baixa:</b> {{findOneById.dataDaBaixa}}</p>
        <p><b>Motivo da Baixa:</b> {{findOneById.motivoDaBaixa}}</p>
        <p><b>Observações da Baixa:</b> {{findOneById.obsrBaixa}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
      </div>
    </div>
  </div>
</div>
