<div >
  <h2 class="text-center">Adicionar Local</h2>
<form>
  <div class="form-group">
    <label for="nome">Nome:</label>
    <input [(ngModel)]="local.nome" placeholder="Nome" name="nome" class="form-control" id="nome">
  </div>

  <div class="form-group">
    <label for="cidade">Cidade:</label>
    <input [(ngModel)]="local.cidade" placeholder="Cidade" name="cidade" class="form-control" id="cidade">
  </div>

  <div class="form-group">
    <label for="Estado">Estado:</label>
    <input [(ngModel)]="local.estado" placeholder="Estado" name="estado" class="form-control" id="estado">
  </div>

  <div class="form-group">
    <label for="unidadeAdminstra">Unidade Administrativa:</label>
    <select id="unidadeAdminstra" [(ngModel)]="local.unidadeAdminstra" class="form-control" name="unidadeAdminstra" id="unidadeAdminstra">
      <option value="0">Regional Catalão</option>
      <option value="1">Regional Jataí</option>
      <option value="2">Regional Goiás</option>
      <option value="3">Câmpus Colemar Natal e Silva</option>
      <option value="4">Regional Samambaia</option>
      <option value="5">Regional Aparecida de Goiânia</option>
    </select>
  </div>

  <button class="btn btn-success" (click)="createLocal()">Criar</button>
</form>
</div>
