<app-admin></app-admin>
<div>
    <h2> Departamentos</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Prédio</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let departamento of departamentos">
                <td>{{departamento.id}}</td>
                <td>{{departamento.nome}}</td>
                <td>{{departamento.predio.nome}}</td>
                <td style="width: 20%"><button class="btn btn-info" (click)="findOne(departamento)" data-toggle="modal"
                        data-target="#modalVer">
                        Ver
                    </button>
                    <button type="button" class="btn btn-primary" (click)="findOne(departamento)" data-toggle="modal"
                        data-target="#modalEditar">
                        Editar
                    </button>
                    <button class="btn btn-danger" (click)="deleteDepartamento(departamento)"> Deletar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="modalVer" tabindex="-1" role="dialog" aria-labelledby="modalVerTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalVerTitle">Departamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div *ngIf="findOneById != null" class="modal-body">
                    <p><b>ID:</b> {{findOneById.id}}</p>
                <p><b>Nome:</b> {{findOneById.nome}}</p>
                <p><b>Prédio:</b> {{findOneById.predio.nome}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modalEditarTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditarTitle">Departamento</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div *ngIf="findOneById != null">
                    <p><b>ID:</b> {{findOneById.id}}</p>
                    <p><b>Nome:</b> {{findOneById.nome}}</p>
                    <p><b>Prédio:</b> {{findOneById.predio.nome}}</p>
                </div>
                <hr>
                <h3 align="center">Editar</h3>
                <div>
                    <form>
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input required [(ngModel)]="departamentoUpdate.nome" placeholder="Nome" name="nome" class="form-control" id="nome">
                        </div>
                
                        <div class="form-group">
                            <label for="idPredio">Prédio:</label>
                            <select required id="idPredio" [(ngModel)]="id_predio" class="form-control" name="idPredio" id="idPredio">
                                <option *ngFor="let predio of predios" [value]="predio.id">{{predio.nome}}</option>
                            </select>
                        </div>

                        <button class="btn btn-success" (click)="updateDepartamento()">Editar</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Sair</button>
            </div>
        </div>
    </div>
</div>
